<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a ElParaísoRojo SexShop</title>
    <style>
        footer {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Hola {{data.name}},</h1>
<p>
    Para activar su cuenta, basta dar click <a href="{{data.url}}">aquí</a>.
</p>
<h2>Para que sirve?</h2>
<p>
    Tener una cuenta en la tienda de El Paraíso Rojo le permite acelerar el proceso de compra, simplemente manteniendo su dirección
    más utilizada para el envío y facturación. En su próximo pedido, sólo tiene que elegir el método de envío y de pago y ya está! Sencillo :)
</p>
<p>
    También puede ver el historial y detalles acerca de sus ordenes.
</p>
<h2>Dudas?</h2>
<p>
    Contacte-nos:
    <br>
    <a href="mailto:elparaisorojo.shop@gmail..com">elparaisorojo.shop@gmail.com</a>
</p>
<hr>
<footer>
    El equipo de El Paraíso Rojo Sexshop
    <br>
    <a href="{{base.storefrontUrl}}">elparaisorojo.com</a>
</footer>
</body>
</html>
