<html>
<head>
    <meta charset="UTF-8">
    <title>Orden pendiente</title>
    <style>
        footer {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Hola {{data.order.customer.name}},</h1>
<p>
  Se encontró que su pedido aún no ha sido pagado y recordamos que tiene la oportunidad de hacerlo en las próximas 48 horas.
</p>
<p>
  Si no se ha confirmado el pago dentro de este plazo, se cancelará su pedido.
</p>
<p>
  Una vez que tenemos la confirmación del pago, le enviaremos su pedido.
</p>
<br />
<p>
    Si usted tiene alguna pregunta, por favor no dude en <a href="mailto:elparaisorojo.shop@gmail.com">contactar-nos</a>.
</p>
<p>
    <strong>Gracias por preferirnos</strong>
</p>
<hr>
<footer>
    El equipo de El Paraíso Rojo Sexshop
    <br>
    <a href="{{base.storefrontUrl}}">elparaisorojo.com</a>
</footer>
</body>
</html>
